<h1>Listing ships in Universe <%= @universe.id %> </h1>


<% if @universe.ships.count > 0 %>
<table>
  <tr>
    <th>Player</th>
    <th>Locationx</th>
    <th>Locationy</th>
    <th>Destination</th>
    <th>Hitpoints</th>
    <th>Shiptype</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ships.each do |ship| %>
  <tr>
    <td><%= ship.player_id %></td>
    <td><%= ship.locationX %></td>
    <td><%= ship.locationY %></td>
    <td><%= ship.destination %></td>
    <td><%= ship.hitpoints %></td>
    <td><%= ship.shiptype_id %></td>
    <td><%= link_to 'Show', [@universe, ship] %></td>
    <td><%= link_to 'Edit', edit_universe_ship_path(@universe, ship) %></td>
    <td><%= link_to 'Destroy', [@universe, ship], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<% else %>
  <p>No ships in this universe.</p>
<% end %>

<p>
<%= link_to 'New Ship', new_universe_ship_path(@universe) %> | 
<%= link_to 'Back', @universe %>
</p>
